body {
    margin: 0px;
    font-family: 'Lato', Arial, sans-serif;
    background-color: white;
}

nav {
    margin: 0px;
    width: 100%;
    height: 80px;
    position: relative;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    font-family: 'Felipa', cursive;
    font-size: 180px;
    text-align: center;
    margin: 10px 0px 100px 0px;
    font-weight: 800;
}

.navbar {
    list-style-type: none; /* Entfernt die Aufzählungszeichen */
    display: flex; /* Verwende Flexbox, um die Liste horizontal anzuzeigen */
}

.navbar li:hover {
    transform: scale(1.02);
}

.navbar li {
    font-weight: bolder;
    width: 300px;
    font-size: 38px;
    position: relative;
}

.navbar li a span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    vertical-align: middle;
}

.social-links {
    position: absolute;
    top: 20px;
    left: 20px;
}

.social-links img {
    width: 22px;
    height: 22px;
}

.social-links a {
    margin-right: 15px;
}

.social-links a:hover img {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.banner-image{
    height: 800px;
    overflow: hidden;
    position: relative;
}

.banner-image img{
    position: absolute;
    width: 100%;
    top: -250px;
}